* {
  font-family: Helvetica, Arial, sans-serif;
}
/* .topnav {
  overflow: hidden;
} */
.about {
  margin: 20px;
  text-align: center;
  font-size: 1.4em;
  color: #e2e4e7;
}
.topnav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
h1 {
  font-size: 5em;
  color: #e2e4e7;
  text-align: center;
}
body {
  background-image: url("sky.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 4em;
  }
  .about {
    font-size: 1.1em;
  }
}
